{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %} 
  {{ super() }}
  Conectar 
{% endblock%}
{% block content %}
  <div class="container signup" >
    <div class="row">
        <center><h2>Conectate</h2><br></center>
    </div>   
    <div class="row">
        <div class="col-lg-6 text-center">
            <div class="col-lg-6 text-center">
                <img src="https://media3.giphy.com/media/lYXhWufNZEaQg/giphy.webp?cid=ecf05e472khv7hscfumtmvsg6402dmna9ad09ysj2f4zz5jq&rid=giphy.webp&ct=g" alt="image" width="250" height="150px">
        </div>
        </div>
        <div class="col-lg-6 ">
         
          {{ wtf.quick_form(forms) }} 
          
        </div>
       
    </div>
</div>
{% endblock %}